<%
  # instance variables:
  #   @posts      [Post]
  #   @tags       [Tag]
  #   @redirects  [Redirect]
%>

<% content_for :head do %>
  <script>
    var posts = <%= raw(@posts.to_json) %>;
  </script>
<% end %>

<% content_for :title, 'Admin | Stephan Boyer' %>

<% require 'json' %>

<div class="article">
  <h2><a href="/admin/index">Admin Panel</a></h2>
  <div class="p">
    <a href="https://www.google.com/analytics/web/?pli=1#report/visitors-overview/a34278795w61806029p63320640/" class="button-link">Google Analytics</a>
    <%= form_tag('/admin/logout', :method => 'post') do %>
      <input type="submit" value="Log Out" />
    <% end %>
  </div>

  <h3>Posts</h3>
  <div class="p">
    <%= form_tag('/admin/create_post', :method => 'post') do %>
      <input type="submit" value="New Post" />
    <% end %>
  </div>
  <% if @posts.size > 0 %>
    <ul>
      <% for post in @posts %>
        <li>
          <%= form_tag('/admin/move_up', :method => 'post') do %>
            <input type="hidden" name="post_id" value="<%= post.id -%>" />
            <a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-angle-up"></i></a>
          <% end %>
          <%= form_tag('/admin/move_down', :method => 'post') do %>
            <input type="hidden" name="post_id" value="<%= post.id -%>" />
            <a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-angle-down"></i></i></a>
          <% end %>
          <%= form_tag('/admin/move_top', :method => 'post') do %>
            <input type="hidden" name="post_id" value="<%= post.id -%>" />
            <a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-angle-double-up"></i></a>
          <% end %>
          <%= form_tag('/admin/move_bottom', :method => 'post') do %>
            <input type="hidden" name="post_id" value="<%= post.id -%>" />
            <a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-angle-double-down"></i></a>
          <% end %>
          <a href='/admin/edit_post/<%= post.id -%>'><i class="fa fa-edit"></i></a>
          <%= form_tag('/admin/delete_post', :method => 'post') do %>
            <input type="hidden" name="post_id" value="<%= post.id -%>" />
            <a href="#" onclick="if (window.confirm('Are you sure you want to delete post &ldquo;<%= post.title.gsub(/'/, {"'" => "\\'"}) -%>&rdquo;?')) { $(this).parent().submit(); } return false;"><i class="fa fa-trash-o"></i></a>
          <% end %>
          &nbsp;
          <a href="<%= post.canonical_uri -%>"><%= raw(post.title_html) %></a>
          <%= if post.is_public then '' else raw(' <span class="muted">(hidden)</span>') end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="p">There are no posts.</div>
  <% end %>

  <h3>Tags</h3>
  <% if @tags.size > 0 %>
    <ul>
      <% for tag in @tags %>
        <li><a href="/<%= tag.name %>" class="tag"><%= tag.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <div class="p">There are no tags.</div>
  <% end %>

  <h3>Redirects</h3>
  <div class="p">
    <%= form_tag('/admin/create_redirect', :method => 'post', :onsubmit => "var from = prompt('Original URL (e.g. /unicycle):'); if (from == null) { return false; } var to = prompt('New URL (e.g. /post/1/unicycle):'); if (to == null) { return false; } $('#redirect_from').val(from); $('#redirect_to').val(to); return true;") do %>
      <input type="hidden" name="redirect_from" id="redirect_from" />
      <input type="hidden" name="redirect_to" id="redirect_to" />
      <input type="submit" value="New Redirect" />
    <% end %>
  </div>
  <% if @redirects.size > 0 %>
    <ul>
      <% for redirect in @redirects %>
        <li>
          <%= form_tag('/admin/delete_redirect', :method => 'post') do %>
            <input type="hidden" name="redirect_id" value="<%= redirect.id -%>" />
            <a href="#" onclick="if (window.confirm('Are you sure you want to delete redirect &ldquo;<%= redirect.from.gsub(/'/, {"'" => "\\'"}) -%>&rdquo; -> &ldquo;<%= redirect.to.gsub(/'/, {"'" => "\\'"}) -%>&rdquo;?')) { $(this).parent().submit(); } return false;"><i class="fa fa-trash-o"></i></a>
          <% end %>
          &nbsp;
          <a href="<%= redirect.from %>"><%= redirect.from %></a>
          <i class="fa fa-long-arrow-right"></i>
          <a href="<%= redirect.to %>"><%= redirect.to %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="p">There are no redirects.</div>
  <% end %>
</div>
