<%
  # instance variables:
  #   @post     Post
%>

<% content_for :title, 'Admin | Stephan Boyer' %>

<div class="article">
  <h2><a href="<%= @post.canonical_uri -%>"><%= raw(@post.title_html) -%></a></h2>

  <%= form_tag("/admin/edit_post", :method => "post") do %>
    <input type="hidden" name="post_id" value="<%= @post.id %>" />
    <div class="p">
      <input type="text" placeholder="Title" name="post_title" value="<%= @post.title %>" class="full-width" />
    </div>
    <div class="p">
      <textarea placeholder="Content" name="post_content" class="full-width"><%= @post.content %></textarea>
    </div>
    <div class="p">
      <textarea placeholder="JavaScript" name="post_javascript" class="full-width monospace"><%= @post.javascript %></textarea>
    </div>
    <div class="p">
      <textarea placeholder="CSS" name="post_css" class="full-width monospace"><%= @post.css %></textarea>
    </div>
    <div class="p">
      <input type="text" placeholder="Tags separated by comma" name="post_tags" value="<%= @post.tags.map { |tag| tag.name }.join(", ") %>" class="full-width" />
    </div>
    <div class="p">
      <label class="checkbox">
        <input type="checkbox" name="post_is_public" id="post_is_public" <%= if @post.is_public then 'checked' else '' end %> />
        Public
      </label>
    </div>
    <div class="p">
      <input type="submit" id="save_button" value="Save Changes" />
    </div>
  <% end %>
</div>
