<%
  # instance variables:
  #   @tag_name       String | nil
  #   @is_root        boolean
%><!DOCTYPE html>
<html lang="<%= APP_LANGUAGE -%>">
  <head>
    <meta charset="UTF-8" />
    <title><%= content_for :title %></title>
    <% if (content_for :description) != '' %>
      <meta name="description" content="<%= content_for :description -%>" />
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for :head %>
  </head>
  <body>
    <div id="footer-fix-container">
      <div id="header">
        <div class="container">
          <div class="row">
            <div id="title" class="span4 phone-hidden">
              <h1>
                <a href="<%= normalize_path('/', :no_cache => is_logged_in) -%>" id="title-link">Stephan Boyer</a>
                <%= content_for :nav %>
              </h1>
            </div>
            <div id="nav" class="span8">
              <a <%= if (defined? @tag_name) && @tag_name == 'home' then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/', :no_cache => is_logged_in) -%>">Home</a><span class="hidden">
              </span><a <%= if (defined? @tag_name) && @tag_name == 'articles' then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/articles', :no_cache => is_logged_in) -%>">Articles</a><span class="hidden">
              </span><a <%= if (defined? @tag_name) && @tag_name == 'projects' then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/projects', :no_cache => is_logged_in) -%>">Projects</a><span class="hidden">
              </span><a <%= if (defined? @tag_name) && @tag_name == 'music' then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/music', :no_cache => is_logged_in) -%>">Music</a><span class="hidden">
              </span><a <%= if (defined? @tag_name) && @tag_name == 'about' then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/about', :no_cache => is_logged_in) -%>">About</a><% if is_logged_in -%><span class="hidden">
              </span><a <%= if params[:action].to_sym == :admin then 'class="active"'.html_safe else '' end -%> href="<%= normalize_path('/admin/index', :no_cache => true) -%>">Admin</a><% end -%>
            </div>
          </div>
        </div>
      </div>

      <div class="page-separator"> </div>

      <div class="container" id="content">
        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div>
      </div>

      <div id="footer-container">
        <div class="page-separator"> </div>
        <div class="container" id="footer">
          <div class="p">&copy; <%= Time.new.year %> Stephan Boyer</div>
        </div>
      </div>
    </div>

    <!-- Mathjax -->
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <% if Rails.env.production? && !is_logged_in %>
      <!-- Disqus -->
      <script id="dsq-count-scr" src="//stephanboyer.disqus.com/count.js" async></script>

      <!-- Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', <%= APP_GOOGLE_ANALYTICS_TRACKING_ID.to_json.html_safe -%>]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

      <!-- Facebook -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Twitter -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- Google Plus -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
    <% end %>
  </body>
</html>
